body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  margin-top: 5vh;
  height: auto;
  display: table;
  width: 50%;
  padding: 1rem;
  background: blue;
}

.matriz {
  width: 47rem;
  height: 36rem;
  margin: 0 auto;
  background: gray;
  display: table;
}

.linha {
  height: 10rem;
}
ul {
  margin: 0.5rem auto;
  padding:0;
  display: table;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-table;
}

.card {
  width: 10rem ;
  height: 10rem;
  margin: 0.5rem;
  cursor: pointer;
}

.card-front {
  background: url('/assets/images/cards/back.svg');
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.back {
  
}

.card-back img {
  width: 100%;
}